.search-input {
    display: flex;
    justify-content: center;
    border: 1px solid rgba(192, 196, 204, 1);
    padding: 10px;
  }
  
  input {
    font-size: 12px;
    border: none;
  }
  
  input:focus {
    outline: none;
  }
  
  input::placeholder {
    color: #898e9a;
    font-size: 12px;
    padding-left: 0.5rem;
  }