.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 90vw;
    margin: 1.5rem auto;
  }
  
  .nav {
    max-width: 90vw;
    display: flex;
    justify-content: space-between;
  }
  
  .line_top {
    max-width: 90vw;
    border: 1px solid #c0c4cc;
    margin-bottom: 1rem;
  }

  .line_btm {
    max-width: 90vw;
    border: 1px solid #c0c4cc;
    margin-top: 1rem;
  }
  
  @media screen and (max-width: 410px) {
    .nav {
      flex-direction: column;
    }
    .logo {
      margin-bottom: 1rem;
    }
  }